
<section class="" id="register-page">
    <div class="row">
        <div class="container">
            <div class="col s12 m8 offset-m2" id="register-form">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>