body {
    font-family: 'Raleway', sans-serif;
}

label {
    color: #333333;
    font-size: 1.1em;
}
a.brand-logo {
    font-family: 'Rouge Script', cursive;
    font-size: 2.5em;
}

#login-page {
    background: url('/img/Lyon-ville-jour.jpg') ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#form-login {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30vh;
    padding: 20px;
    font-size: 1.2em;
    color: #333333;
}

#_submit {
    display: block;
    margin: 0 auto;
    margin-top:20px;
}
#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

#register-page {
    background: url('/img/download-people.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#register-page .row {
    margin-bottom: 0;
    padding-bottom: 30px;
}

#register-page h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 3em;
    color: red;
    margin-top:0;
    text-align: center;

}
#register-form {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10vh;
    padding: 20px;
    font-size: 1em;
    color: #333333;
}