{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}
{% block body %}
    <div id="map"></div>
    <h1>Poi</h1>
    <div id="poi" class="hidden">{{ poi.id }}</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/map.js') }}"></script>
{% endblock %}
